<strong>Olá, {{deliveryman}}.</strong>
<p> Uma encomenda foi cadastrada, confira os detalhes abaixo:</p>
<p>
    <strong>Produto: </strong> {{name_produto}}
    <br/>
    <small>
        A encomenda está pronta para retirada.
    </small>
</p>