<strong>Olá, {{deliveryman}}.</strong>
<p> Houve um cancelamento de encomenda, confira os detalhes abaixo:</p>
<p>
    <strong>Cancelamento feito pela </strong> {{adm}}
    <br/>
    <strong>Data/hora: </strong> {{canceled_at}}
    <br/>
    <small>
        Você pode entrar em contato pelo e-mail fastfeet@contato.com
    </small>
</p>